.desktop-nav {
  height: 100vh;
  min-width: 250px;
  position: sticky;
  top: 0;
  background: white;
  color: #f48f31;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  h3 {
    padding-top: 0.6rem;
    font-size: 1.75rem;
    color: #f48f31;
  }
  .page-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .name {
    margin-bottom: 2rem;
  }
  hr {
    color: #f48f31;
    border: 1px solid #f48f31;
    margin: 5px 0px;
    width: 10rem;
  }
  ul {
    list-style: none;
    margin-bottom: 1rem;
  }
  li {
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    color: #2e5979;
  }
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 1rem;
  }

  a {
    color: white;
    text-decoration: none;
  }
  p {
    color: #f48f31;
  }
  .line {
    height: 3px;
    width: 0%;
    margin-left: 10px;
    border-radius: 5px;
    background: #f48f31;
    transition: all 0.3s ease;
  }
  .active {
    width: 18%;
  }
  li:hover {
    .line {
      width: 18%;
    }
  }
  .social-links {
    display: flex;
    .social-icon {
      margin: 0px 10px 0px 0px;
      filter: brightness(0) saturate(100%) invert(44%) sepia(30%) saturate(700%)
        hue-rotate(162deg) brightness(70%) contrast(100%);
    }
  }
  @media only screen and (max-width: 920px) {
    display: none;
  }
}
